asgiref
attrs
autobahn
Automat
cbor2
certifi
cffi
channels
channels_redis
charset-normalizer
click
cloudinary
constantly
cryptography
daphne
dj-database-url
Django
django-allauth
django-cloudinary-storage
django-cors-headers
djangorestframework
gunicorn
h11
hyperlink
idna
Incremental
msgpack
oauthlib
packaging
pillow
psycopg2-binary
py-ubjson
pyasn1
pyasn1_modules
pycparser
PyJWT
pyOpenSSL
python-dotenv
redis
requests
service-identity
six
sqlparse
Twisted
txaio
typing_extensions
tzdata
ujson
urllib3
uvicorn
whitenoise
zope.interface
